*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.center{
	display: flex;
	max-width: 1100px;
	padding: 0 2%;
	margin: 0 auto;
	flex-wrap: wrap;
}

section.main{
	background-image: url('images/bg.svg');
	background-position: center;
	background-size: cover;
	min-height: 700px;
	padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;}

.logomenu{
	width: 50%;
	

}

.logomenu img{
	margin-top: -110px;
	height: 270px;
	width: 330px;
}

.items{width: 50%;}

.items a{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	margin: 0 10px;
	margin-top: 7px;
}

.items a:hover{
	border-bottom: 3px solid #000000;
}

.items a.contact{
	background-color: #000000;
	padding: 10px 10px;
	border-radius: 10px;
}

.items a.contact:hover{
	border:0;
}

.mockup{display: block; width: 100%; color: #ffffff; text-align: center; padding: 100px;}

.mockup h1{
	font-size: 40px;
}

section.marcas{
	padding: 30px;
}

.mockup img{max-width: 100%;}

section.marcas img{

	width:20%;

}

section.pq{
	padding: 100px 0;
	background-color: #fbfcfe;
}

section.pq > .center > h2{
	font-size: 64px;
	text-align: center;
	width: 100%;
	
}

section.pq > .center{
	max-width: 1280px;
}

section.pq > .center > p{
	font-size: 20px;
	color: #ccc;
	text-align: center;
	width: 100%;
	padding-top: 20px;
}

.diferenciais{
	display: flex;
	margin-top: 100px;
}

.boxdiferenciais{
	box-shadow: 0px 20px 40px #2426721c;
	width: 31%;
	margin-right: 2%;
	padding: 10px 20px;
	border-radius: 10px;
}

.boxdiferenciais h3{
	font-size: 28px;
	color: #000000;
	margin:20px 0;
}

.boxdiferenciais p{
	font-size: 13px;
	color: #7e92ac;
	margin-bottom: 20px;
}

section.cta{
	height: 250px;
	background-image: url('images/BANNER.svg');
	background-size: cover;
	background-position: center;
	padding: 20px 10px;
	min-height: 200px;
	color: #ffffff;
	text-align: center;
	

}

section.cta h2, section.cta h4{
	font-weight: normal;
	margin: 10px 0;
	padding: 10px;
}

section.cta h2{
	font-size: 40px;
}

section.cta a{
	display: inline-block;
	padding: 8px 15px;
	border-radius: 7px;
	font-weight: bold;
	font-size: 15px;
	background: #000000;
	text-decoration: none;
	color: #ffffff;
	padding: 15px;
}


section.beneficios{
	padding: 50px 0;
}

.lista h1{
	font-size: 37px;
	padding: 10px;
	margin-left: 20px;
	
}

.lista{
	width: 40%;
	margin-top: 30px;

}


.lista p{
	vertical-align: middle;
	font-size: 14px;
	color: #7e92ac;
	padding: 10px;
}

.lista span{
	display: inline-block;
	width: calc(100% - 70px);
}

.lista a{
	display: inline-block;
	padding: 8px 15px;
	margin-left: 30px;
	border-radius: 7px;
	font-weight: bold;
	font-size: 15px;
	background: #000000;
	text-decoration: none;
	color: #ffffff;
	padding: 15px;
}
	

.lista img{
	display: inline-block;
	width: 70px;
	vertical-align: middle;
}


.imgbene{
	width: 60%;
}

.imgbene img{max-width: 100%;}

section.depoimentos{
	background-color: #FBFCFE;
	padding: 40px 0;

}

section.depoimentos h1{
	text-align: center;
	font-size: 40px;
}

.container-slider{
	overflow: hidden;
	
}

.container-slider-single{
	float: left;
	background-color: #FFFFFF;
	padding: 40px 0;
	text-align: center;
	border-radius: 10px;
	margin: 30px;
}

.container-slider-single img{
	width: 100px;
	height: 100px;
}

.container-slider-single p{
	margin: 15px 0;
	color: #7E92AC;
	font-size: 14px;

}
.slick-slide{
	margin-left: 27px;
}

.slick-list{
	margin-left: -27px;
}

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	margin-top: 10;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 14px;
	height: 14px;
	border-radius: 7px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
	
}

li.slick-active button{
	background: #000000 ;
	color: #000000
}

.slick-slide:focus {outline: none;}

/*fim do slick*/

section.formu{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 100px;

}

section.formu h1{
	font-size: 50px;
}

section form {
	padding-top: 30px;

}

section.formu input {
	margin: 10px;
	width: 100%;
	height: 50px;
	border-width: 1px;
	max-width: 700px;
	border-radius: 5px;
	border: solid 1px #C3CCE8;
	padding-left: 10px;
	
	
}

section.formu textarea {
	padding: 10px;
	margin: 10px;
    height: 200px;
	width: 100%;
	max-width: 700px;
	border-width: 1px;
	border-radius: 5px;
	border: solid 1px #C3CCE8;
}

section.formu button{
	margin: 10px;
	height: 50px;
	width: 100%;
	max-width: 700px;
	background-color: #000000;
	color: white;
	border-radius: 10px;
	border: 0;
	font-size: 15px;

}

footer{
	padding: 10px 0;
	background-color: #255AFF;
	color: #FFFFFF;
	width: 100%;
	
	
}

.textfooter{
	width: 50%;
	padding: 8px 0;	
}

.itemsmobile{
	display: none;
	width: 50%;
	text-align: right;
}

.itemsmobile i{
	color: #FFFFFF;
	font-size: 23px;
	cursor: pointer;
}

@media screen and (max-width: 768px){

	.itemsmobile{
		display: block;
	}

	section.main .items{
		display: none;
	} 

	footer .items{
		width: 100%;
		text-align: center;
	}

	footer .items a{
		display: block;
		margin: 10px 0;
		text-align: center;
	}

	.textfooter{
	width: 100%;
	text-align: center;
	padding: 8px 0;	
	}

	.diferenciais{
		flex-wrap: wrap;
	}

	.boxdiferenciais{

		width: 100%;
		margin-right: 0;
	}

	section.marcas > .center{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}

	section.marcas img{
		max-width: 300px; 
		width: 100%;

		
	}

	.lista,.imgbene{
		width: 100%;
		margin-bottom: 30px;
	}
}